/* Formatting for all elements. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Style parameters for body of page. */
body {
    background-color: #d9dcd6;
}

/* Style parameters for any header element on the page. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Set specific styling parameters for main header on top of page. */
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

/* Formatting for links in the navigation bar at top of page. */
#navigation {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* Format list in nav bar on same line */
.header nav ul {
    list-style-type: none;
}

/* Format text in list in nav bar on same line with margin rules */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* Format color/font for text in nav bar links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Format text size in paragraphs */
p {
    font-size: 16px;
}

/* Background image at top of website */
#background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
/*background image does not need accessibility text as it does not provide critical information to user about the page */
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Format guidelines for main body. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Style guidelines for each section in main body. */
.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Class size formatting for images in main section. */
.content img {
    max-height: 200px;
}

/* Class size formatting for headings in main body. */
.main-heading {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Alignment for images in main body sections. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Alignment, font, and coloring guidelines for aside section. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Style guidelines for each section in the aside. */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Text formatting for headers in aside. */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Style guidelines for icon images in aside. */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class formatting for footer section. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Formatting for title in footer. */
.footer h4 {
    font-size: 20px;
}



/* THE BELOW CODE WAS REMOVED FROM CSS AS IT WAS UNNECESSARY OR REDUNDANT.

**Moved below code to ".header h1" as ".seo" class was removed from html code:

.header h1 .seo {
    color: #d9dcd6;
}

#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} 

#search-engine-optimization img {
    max-height: 200px;
}

#online-reputation-management img {
    max-height: 200px;
}

#social-media-marketing img {
    max-height: 200px;
}
*/